<nav class="navbar has-shadow">

    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <h1 class="title">Shared shopping lists</h1>
        </a>
        <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">
    <!-- User name, dropdown menu -->
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Main Page
            </a>
            <a href="/lists" class="item">
                Lists
            </a>
        </div>
    </div>
</nav>

<table>
    <th>Name</th>
    <th></th>
</table>